"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.accounts_get_response import (
    AccountsGetResponse,
)


class AccountsApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize AccountsApi object."""
        super(AccountsApi, self).__init__(config)

    def accounts_get(self,
                     body):
        """Perform a POST request to /accounts/get.

        The `/accounts/get`  endpoint can be used to retrieve information for any
        linked Item. Note that some information is nullable. Plaid will only return
        active bank accounts, i.e. accounts that are not closed and are capable of
        carrying a balance.
        This endpoint retrieves cached information, rather than extracting fresh
        information from the institution. As a result, balances returned may not be
        up-to-date; for realtime balance information, use `/accounts/balance/get`
        instead.

        Args:
            body (AccountsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def accounts_balance_get(self,
                             body):
        """Perform a POST request to /accounts/balance/get.

        The `/accounts/balance/get` endpoint returns the real-time balance for each
        of an Item's accounts. While other endpoints may return a balance object,
        only `/accounts/balance/get` forces the available and current balance fields
        to be refreshed rather than cached. This endpoint can be used for existing
        Items that were added via any of Plaid’s other products. This endpoint can be
        used as long as Link has been initialized with any other product, `balance`
        itself is not a product that can be used to initialize Link.

        Args:
            body (AccountsBalanceGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/balance/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountsGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
