"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.application_get_response import (
    ApplicationGetResponse,
)


class ApplicationApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize ApplicationApi object."""
        super(ApplicationApi, self).__init__(config)

    def application_get(self,
                        body):
        """Perform a POST request to /application/get.

        Allows financial institutions to retrieve information about Plaid clients for
        the purpose of building control-tower experiences

        Args:
            body (ApplicationGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/application/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ApplicationGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()
