"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.asset_report_audit_copy_create_response import (
    AssetReportAuditCopyCreateResponse,
)
from plaid.models.asset_report_audit_copy_remove_response import (
    AssetReportAuditCopyRemoveResponse,
)
from plaid.models.asset_report_create_response import (
    AssetReportCreateResponse,
)
from plaid.models.asset_report_filter_response import (
    AssetReportFilterResponse,
)
from plaid.models.asset_report_get_response import (
    AssetReportGetResponse,
)
from plaid.models.asset_report_refresh_response import (
    AssetReportRefreshResponse,
)
from plaid.models.asset_report_remove_response import (
    AssetReportRemoveResponse,
)


class AssetReportApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize AssetReportApi object."""
        super(AssetReportApi, self).__init__(config)

    def asset_report_audit_copy_create(self,
                                       body):
        """Perform a POST request to /asset_report/audit_copy/create.

        Plaid can provide an Audit Copy of any Asset Report directly to a
        participating third party on your behalf. For example, Plaid can supply an
        Audit Copy directly to Fannie Mae on your behalf if you participate in the
        Day 1 Certainty™ program. An Audit Copy contains the same underlying data as
        the Asset Report.
        To grant access to an Audit Copy, use the `/asset_report/audit_copy/create`
        endpoint to create an `audit_copy_token` and then pass that token to the
        third party who needs access. Each third party has its own `auditor_id`, for
        example `fannie_mae`. You’ll need to create a separate Audit Copy for each
        third party to whom you want to grant access to the Report.

        Args:
            body (AssetReportAuditCopyCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/audit_copy/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportAuditCopyCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_refresh(self,
                             body):
        """Perform a POST request to /asset_report/refresh.

        An Asset Report is an immutable snapshot of a user's assets. In order to
        "refresh" an Asset Report you created previously, you can use the
        `/asset_report/refresh` endpoint to create a new Asset Report based on the
        old one, but with the most recent data available.
        The new Asset Report will contain the same Items as the original Report, as
        well as the same filters applied by any call to `/asset_report/filter`. By
        default, the new Asset Report will also use the same parameters you submitted
        with your original `/asset_report/create` request, but the original
        `days_requested` value and the values of any parameters in the `options`
        object can be overridden with new values. To change these arguments, simply
        supply new values for them in your request to `/asset_report/refresh`. Submit
        an empty string ("") for any previously-populated fields you would like set
        as empty.

        Args:
            body (AssetReportRefreshRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/refresh")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportRefreshResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_filter(self,
                            body):
        """Perform a POST request to /asset_report/filter.

        By default, an Asset Report will contain all of the accounts on a given Item.
        In some cases, you may not want the Asset Report to contain all accounts. For
        example, you might have the end user choose which accounts are relevant in
        Link using the Account Select view, which you can enable in the dashboard.
        Or, you might always exclude certain account types or subtypes, which you can
        identify by using the `/accounts/get` endpoint. To narrow an Asset Report to
        only a subset of accounts, use the `/asset_report/filter` endpoint.
        To exclude certain Accounts from an Asset Report, first use the
        `/asset_report/create` endpoint to create the report, then send the
        `asset_report_token` along with a list of `account_ids` to exclude to the
        `/asset_report/filter` endpoint, to create a new Asset Report which contains
        only a subset of the original Asset Report's data.
        Because Asset Reports are immutable, calling `/asset_report/filter` does not
        alter the original Asset Report in any way; rather, `/asset_report/filter`
        creates a new Asset Report with a new token and id. Asset Reports created via
        `/asset_report/filter` do not contain new Asset data, and are not billed.
        Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks)
        webhook once generation of the filtered Asset Report has completed.

        Args:
            body (AssetReportFilterRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/filter")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportFilterResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_create(self,
                            body):
        """Perform a POST request to /asset_report/create.

        The `/asset_report/create` endpoint initiates the process of creating an
        Asset Report, which can then be retrieved by passing the `asset_report_token`
        return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.
        The Asset Report takes some time to be created and is not available
        immediately after calling `/asset_report/create`. When the Asset Report is
        ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`,
        Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook
        schema, see [Asset Report
        webhooks](https://plaid.com/docs/api/webhooks/#Assets-webhooks).
        The `/asset_report/create` endpoint creates an Asset Report at a moment in
        time. Asset Reports are immutable. To get an updated Asset Report, use the
        `/asset_report/refresh` endpoint.

        Args:
            body (AssetReportCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_remove(self,
                            body):
        """Perform a POST request to /asset_report/remove.

        The `/item/remove` endpoint allows you to invalidate an `access_token`,
        meaning you will not be able to create new Asset Reports with it. Removing an
        Item does not affect any Asset Reports or Audit Copies you have already
        created, which will remain accessible until you remove them specifically.
        The `/asset_report/remove` endpoint allows you to remove an Asset Report.
        Removing an Asset Report invalidates its `asset_report_token`, meaning you
        will no longer be able to use it to access Report data or create new Audit
        Copies. Removing an Asset Report does not affect the underlying Items, but
        does invalidate any `audit_copy_tokens` associated with the Asset Report.

        Args:
            body (AssetReportRemoveRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/remove")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportRemoveResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_pdf_get(self,
                             body):
        """Perform a POST request to /asset_report/pdf/get.

        The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF
        format. Before calling `/asset_report/pdf/get`, you must first create the
        Asset Report using `/asset_report/create` (or filter an Asset Report using
        `/asset_report/filter`) and then wait for the
        [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook to fire,
        indicating that the Report is ready to be retrieved.
        The response to `/asset_report/pdf/get` is the PDF binary data. The
        `request_id`  is returned in the `Plaid-Request-ID` header.
        [View a sample PDF Asset
        Report](https://plaid.com/documents/sample-asset-report.pdf).

        Args:
            body (AssetReportPdfGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A PDF of the Asset
                Report

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/pdf/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def asset_report_get(self,
                         body):
        """Perform a POST request to /asset_report/get.

        The `/asset_report/get` endpoint retrieves the Asset Report in JSON format.
        Before calling `/asset_report/get`, you must first create the Asset Report
        using `/asset_report/create` (or filter an Asset Report using
        `/asset_report/filter`) and then wait for the
        [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook to fire,
        indicating that the Report is ready to be retrieved.
        By default, an Asset Report includes transaction descriptions as returned by
        the bank, as opposed to parsed and categorized by Plaid. You can also receive
        cleaned and categorized transactions, as well as additional insights like
        merchant name or location information. We call this an Asset Report with
        Insights. An Asset Report with Insights provides transaction category,
        location, and merchant information in addition to the transaction strings
        provided in a standard Asset Report.
        To retrieve an Asset Report with Insights, call the `/asset_report/get`
        endpoint with `include_insights` set to `true`.

        Args:
            body (AssetReportGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_audit_copy_remove(self,
                                       body):
        """Perform a POST request to /asset_report/audit_copy/remove.

        The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit
        Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated
        with it, meaning both you and any third parties holding the token will no
        longer be able to use it to access Report data. Items associated with the
        Asset Report, the Asset Report itself and other Audit Copies of it are not
        affected and will remain accessible after removing the given Audit Copy.

        Args:
            body (AssetReportAuditCopyRemoveRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/audit_copy/remove")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportAuditCopyRemoveResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def asset_report_audit_copy_get(self,
                                    body):
        """Perform a POST request to /asset_report/audit_copy/get.

        `/asset_report/audit_copy/get` allows auditors to get a copy of an Asset
        Report that was previously shared via the `/asset_report/audit_copy/create`
        endpoint.  The caller of `/asset_report/audit_copy/create` must provide the
        `audit_copy_token` to the auditor.  This token can then be used to call
        `/asset_report/audit_copy/create`.

        Args:
            body (AssetReportAuditCopyGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/asset_report/audit_copy/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AssetReportGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
