"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.auth_get_response import AuthGetResponse


class AuthApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize AuthApi object."""
        super(AuthApi, self).__init__(config)

    def auth_get(self,
                 body):
        """Perform a POST request to /auth/get.

        The `/auth/get` endpoint returns the bank account and bank identification
        numbers (such as routing numbers, for US accounts) associated with an Item's
        checking and savings accounts, along with high-level account data and
        balances when available.
        Note: This request may take some time to complete if `auth` was not specified
        as an initial product when creating the Item. This is because Plaid must
        communicate directly with the institution to retrieve the data.
        Also note that `/auth/get` will not return data for any new accounts opened
        after the Item was created. To obtain data for new accounts, create a new
        Item.

        Args:
            body (AuthGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default error", ErrorErrorException),
        ).execute()
