"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.bank_transfer_balance_get_response import (
    BankTransferBalanceGetResponse,
)
from plaid.models.bank_transfer_cancel_response import (
    BankTransferCancelResponse,
)
from plaid.models.bank_transfer_create_response import (
    BankTransferCreateResponse,
)
from plaid.models.bank_transfer_event_list_response import (
    BankTransferEventListResponse,
)
from plaid.models.bank_transfer_event_sync_response import (
    BankTransferEventSyncResponse,
)
from plaid.models.bank_transfer_get_response import (
    BankTransferGetResponse,
)
from plaid.models.bank_transfer_list_response import (
    BankTransferListResponse,
)
from plaid.models.bank_transfer_migrate_account_response import (
    BankTransferMigrateAccountResponse,
)
from plaid.models.bank_transfer_sweep_get_response import (
    BankTransferSweepGetResponse,
)
from plaid.models.bank_transfer_sweep_list_response import (
    BankTransferSweepListResponse,
)


class BankTransferApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize BankTransferApi object."""
        super(BankTransferApi, self).__init__(config)

    def bank_transfer_cancel(self,
                             body):
        """Perform a POST request to /bank_transfer/cancel.

        Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A
        transfer is eligible for cancelation if the `cancellable` property returned
        by `/bank_transfer/get` is `true`.

        Args:
            body (BankTransferCancelRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/cancel")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferCancelResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_sweep_get(self,
                                body):
        """Perform a POST request to /bank_transfer/sweep/get.

        The `/bank_transfer/sweep/get` endpoint fetches information about the sweep
        corresponding to the given `sweep_id`.

        Args:
            body (BankTransferSweepGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/sweep/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferSweepGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_list(self,
                           body):
        """Perform a POST request to /bank_transfer/list.

        Use the `/bank_transfer/list` endpoint to see a list of all your bank
        transfers and their statuses. Results are paginated; use the `count` and
        `offset` query parameters to retrieve the desired bank transfers.

        Args:
            body (BankTransferListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_event_sync(self,
                                 body):
        """Perform a POST request to /bank_transfer/event/sync.

        `/bank_transfer/event/sync` allows you to request up to the next 25 bank
        transfer events that happened after a specific `event_id`. Use the
        `/bank_transfer/event/sync` endpoint to guarantee you have seen all bank
        transfer events.

        Args:
            body (BankTransferEventSyncRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/event/sync")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferEventSyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_migrate_account(self,
                                      body):
        """Perform a POST request to /bank_transfer/migrate_account.

        As an alternative to adding Items via Link, you can also use the
        `/bank_transfer/migrate_account` endpoint to migrate known account and
        routing numbers to Plaid Items.  Note that Items created in this way are not
        compatible with endpoints for other products, such as
        `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.
        If you require access to other endpoints, create the Item through Link
        instead.  Access to `/bank_transfer/migrate_account` is not enabled by
        default; to obtain access, contact your Plaid Account Manager.

        Args:
            body (BankTransferMigrateAccountRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/migrate_account")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferMigrateAccountResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_create(self,
                             body):
        """Perform a POST request to /bank_transfer/create.

        Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.

        Args:
            body (BankTransferCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_sweep_list(self,
                                 body):
        """Perform a POST request to /bank_transfer/sweep/list.

        The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps
        matching the given filters.

        Args:
            body (BankTransferSweepListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/sweep/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferSweepListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_event_list(self,
                                 body):
        """Perform a POST request to /bank_transfer/event/list.

        Use the `/bank_transfer/event/list` endpoint to get a list of bank transfer
        events based on specified filter criteria.

        Args:
            body (BankTransferEventListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/event/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferEventListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_get(self,
                          body):
        """Perform a POST request to /bank_transfer/get.

        The `/bank_transfer/get` fetches information about the bank transfer
        corresponding to the given `bank_transfer_id`.

        Args:
            body (BankTransferGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def bank_transfer_balance_get(self,
                                  body):
        """Perform a POST request to /bank_transfer/balance/get.

        Use the `/bank_transfer/balance/get` endpoint to see the available balance in
        your bank transfer account. Debit transfers increase this balance once their
        status is posted. Credit transfers decrease this balance when they are
        created.
        The transactable balance shows the amount in your account that you are able
        to use for transfers, and is essentially your available balance minus your
        minimum balance.
        Note that this endpoint can only be used with FBO accounts, when using Bank
        Transfers in the Full Service configuration. It cannot be used on your own
        account when using Bank Transfers in the BTS Platform configuration.

        Args:
            body (BankTransferBalanceGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/bank_transfer/balance/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankTransferBalanceGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()
