"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.deposit_switch_alt_create_response import (
    DepositSwitchAltCreateResponse,
)
from plaid.models.deposit_switch_create_response import (
    DepositSwitchCreateResponse,
)
from plaid.models.deposit_switch_get_response import (
    DepositSwitchGetResponse,
)
from plaid.models.deposit_switch_token_create_response import (
    DepositSwitchTokenCreateResponse,
)


class DepositSwitchApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize DepositSwitchApi object."""
        super(DepositSwitchApi, self).__init__(config)

    def deposit_switch_get(self,
                           body):
        """Perform a POST request to /deposit_switch/get.

        This endpoint returns information related to how the user has configured
        their payroll allocation and the state of the switch. You can use this
        information to build logic related to the user's direct deposit allocation
        preferences.

        Args:
            body (DepositSwitchGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/deposit_switch/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSwitchGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def deposit_switch_alt_create(self,
                                  body):
        """Perform a POST request to /deposit_switch/alt/create.

        This endpoint provides an alternative to `/deposit_switch/create` for
        customers who have not yet fully integrated with Plaid Exchange. Like
        `/deposit_switch/create`, it creates a deposit switch entity that will be
        persisted throughout the lifecycle of the switch.

        Args:
            body (DepositSwitchAltCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/deposit_switch/alt/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSwitchAltCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def deposit_switch_create(self,
                              body):
        """Perform a POST request to /deposit_switch/create.

        This endpoint creates a deposit switch entity that will be persisted
        throughout the lifecycle of the switch.

        Args:
            body (DepositSwitchCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/deposit_switch/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSwitchCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def deposit_switch_token_create(self,
                                    body):
        """Perform a POST request to /deposit_switch/token/create.

        In order for the end user to take action, you will need to create a public
        token representing the deposit switch. This token is used to initialize Link.
        It can be used one time and expires after 30 minutes.

        Args:
            body (DepositSwitchTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/deposit_switch/token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSwitchTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
