"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.employers_search_response import (
    EmployersSearchResponse,
)


class EmployersApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize EmployersApi object."""
        super(EmployersApi, self).__init__(config)

    def employers_search(self,
                         body):
        """Perform a POST request to /employers/search.

        `/employers/search` allows you the ability to search Plaid’s database of
        known employers, for use with Deposit Switch. You can use this endpoint to
        look up a user's employer in order to confirm that they are supported. Users
        with non-supported employers can then be routed out of the Deposit Switch
        flow.
        The data in the employer database is currently limited. As the Deposit Switch
        and Income products progress through their respective beta periods, more
        employers are being regularly added. Because the employer database is
        frequently updated, we recommend that you do not cache or store data from
        this endpoint for more than a day.

        Args:
            body (EmployersSearchRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/employers/search")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EmployersSearchResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
