"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.income_verification_create_response import (
    IncomeVerificationCreateResponse,
)
from plaid.models.income_verification_paystub_get_response import (
    IncomeVerificationPaystubGetResponse,
)
from plaid.models.income_verification_paystubs_get_response import (
    IncomeVerificationPaystubsGetResponse,
)
from plaid.models.income_verification_precheck_response import (
    IncomeVerificationPrecheckResponse,
)
from plaid.models.income_verification_refresh_response import (
    IncomeVerificationRefreshResponse,
)
from plaid.models.income_verification_summary_get_response import (
    IncomeVerificationSummaryGetResponse,
)
from plaid.models.income_verification_taxforms_get_response import (
    IncomeVerificationTaxformsGetResponse,
)


class IncomeApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize IncomeApi object."""
        super(IncomeApi, self).__init__(config)

    def income_verification_taxforms_get(self,
                                         body):
        """Perform a POST request to /income/verification/taxforms/get.

        `/income/verification/taxforms/get` returns the information collected from
        taxforms that were used to verify an end user's. It can be called once the
        status of the verification has been set to
        `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME:
        verification_status` webhook. Attempting to call the endpoint before
        verification has been completed will result in an error.

        Args:
            body (IncomeVerificationTaxformsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/taxforms/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationTaxformsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def income_verification_paystub_get(self,
                                        body):
        """Perform a POST request to /income/verification/paystub/get.

        (Deprecated) Retrieve information from a single paystub used for income
        verification

        Args:
            body (IncomeVerificationPaystubGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/paystub/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationPaystubGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def income_verification_documents_download(self,
                                               body):
        """Perform a POST request to /income/verification/documents/download.

        `/income/verification/documents/download` provides the ability to download
        the source paystub PDF that the end user uploaded via Paystub Import.
        The response to `/income/verification/documents/download` is a ZIP file in
        binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.
        For Payroll Income, the most recent file available for download with the
        payroll provider will also be available from this endpoint.

        Args:
            body (IncomeVerificationDocumentsDownloadRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A ZIP file containing
                the source paystub(s) used as the basis for income verification.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/documents/download")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def income_verification_refresh(self,
                                    body):
        """Perform a POST request to /income/verification/refresh.

        `/income/verification/refresh` refreshes a given income verification.

        Args:
            body (IncomeVerificationRefreshRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/refresh")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationRefreshResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def income_verification_paystubs_get(self,
                                         body):
        """Perform a POST request to /income/verification/paystubs/get.

        `/income/verification/paystubs/get` returns the information collected from
        the paystubs that were used to verify an end user's income. It can be called
        once the status of the verification has been set to
        `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME:
        verification_status` webhook. Attempting to call the endpoint before
        verification has been completed will result in an error.

        Args:
            body (IncomeVerificationPaystubsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/paystubs/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationPaystubsGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def income_verification_precheck(self,
                                     body):
        """Perform a POST request to /income/verification/precheck.

        `/income/verification/precheck` returns whether a given user is supportable
        by the income product

        Args:
            body (IncomeVerificationPrecheckRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/precheck")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationPrecheckResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def income_verification_summary_get(self,
                                        body):
        """Perform a POST request to /income/verification/summary/get.

        `/income/verification/summary/get` returns a verification summary for the
        income that was verified for an end user. It can be called once the status of
        the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`,
        as reported by the `INCOME: verification_status` webhook. Attempting to call
        the endpoint before verification has been completed will result in an error.

        Args:
            body (IncomeVerificationSummaryGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/summary/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationSummaryGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def income_verification_create(self,
                                   body):
        """Perform a POST request to /income/verification/create.

        `/income/verification/create` begins the income verification process by
        returning an `income_verification_id`. You can then provide the
        `income_verification_id` to `/link/token/create` under the
        `income_verification` parameter in order to create a Link instance that will
        prompt the user to go through the income verification flow. Plaid will fire
        an `INCOME` webhook once the user completes the Payroll Income flow, or when
        the uploaded documents in the Document Income flow have finished processing.

        Args:
            body (IncomeVerificationCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/income/verification/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomeVerificationCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
