"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.institutions_get_by_id_response import (
    InstitutionsGetByIdResponse,
)
from plaid.models.institutions_get_response import (
    InstitutionsGetResponse,
)
from plaid.models.institutions_search_response import (
    InstitutionsSearchResponse,
)


class InstitutionsApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize InstitutionsApi object."""
        super(InstitutionsApi, self).__init__(config)

    def institutions_get_by_id(self,
                               body):
        """Perform a POST request to /institutions/get_by_id.

        Returns a JSON response containing details on a specified financial
        institution currently supported by Plaid.

        Args:
            body (InstitutionsGetByIdRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/institutions/get_by_id")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InstitutionsGetByIdResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def institutions_get(self,
                         body):
        """Perform a POST request to /institutions/get.

        Returns a JSON response containing details on all financial institutions
        currently supported by Plaid. Because Plaid supports thousands of
        institutions, results are paginated.
        If there is no overlap between an institution’s enabled products and a
        client’s enabled products, then the institution will be filtered out from the
        response. As a result, the number of institutions returned may not match the
        count specified in the call.

        Args:
            body (InstitutionsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/institutions/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InstitutionsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def institutions_search(self,
                            body):
        """Perform a POST request to /institutions/search.

        Returns a JSON response containing details for institutions that match the
        query parameters, up to a maximum of ten institutions per query.

        Args:
            body (InstitutionsSearchRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/institutions/search")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InstitutionsSearchResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()
