"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.investments_holdings_get_response import (
    InvestmentsHoldingsGetResponse,
)
from plaid.models.investments_transactions_get_response import (
    InvestmentsTransactionsGetResponse,
)


class InvestmentsApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize InvestmentsApi object."""
        super(InvestmentsApi, self).__init__(config)

    def investments_transactions_get(self,
                                     body):
        """Perform a POST request to /investments/transactions/get.

        The `/investments/transactions/get` endpoint allows developers to retrieve
        user-authorized transaction data for investment accounts.
        Transactions are returned in reverse-chronological order, and the sequence of
        transaction ordering is stable and will not shift.
        Due to the potentially large number of investment transactions associated
        with an Item, results are paginated. Manipulate the count and offset
        parameters in conjunction with the `total_investment_transactions` response
        body field to fetch all available investment transactions.

        Args:
            body (InvestmentsTransactionsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/investments/transactions/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvestmentsTransactionsGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def investments_holdings_get(self,
                                 body):
        """Perform a POST request to /investments/holdings/get.

        The `/investments/holdings/get` endpoint allows developers to receive
        user-authorized stock position data for `investment`-type accounts.

        Args:
            body (InvestmentsHoldingsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/investments/holdings/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvestmentsHoldingsGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
