"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.item_access_token_invalidate_response import (
    ItemAccessTokenInvalidateResponse,
)
from plaid.models.item_application_list_response import (
    ItemApplicationListResponse,
)
from plaid.models.item_application_scopes_update_response import (
    ItemApplicationScopesUpdateResponse,
)
from plaid.models.item_get_response import ItemGetResponse
from plaid.models.item_import_response import (
    ItemImportResponse,
)
from plaid.models.item_public_token_create_response import (
    ItemPublicTokenCreateResponse,
)
from plaid.models.item_public_token_exchange_response import (
    ItemPublicTokenExchangeResponse,
)
from plaid.models.item_remove_response import (
    ItemRemoveResponse,
)
from plaid.models.item_webhook_update_response import (
    ItemWebhookUpdateResponse,
)


class ItemApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize ItemApi object."""
        super(ItemApi, self).__init__(config)

    def item_access_token_invalidate(self,
                                     body):
        """Perform a POST request to /item/access_token/invalidate.

        By default, the `access_token` associated with an Item does not expire and
        should be stored in a persistent, secure manner.
        You can use the `/item/access_token/invalidate` endpoint to rotate the
        `access_token` associated with an Item. The endpoint returns a new
        `access_token` and immediately invalidates the previous `access_token`.

        Args:
            body (ItemAccessTokenInvalidateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/access_token/invalidate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemAccessTokenInvalidateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def item_remove(self,
                    body):
        """Perform a POST request to /item/remove.

        The `/item/remove`  endpoint allows you to remove an Item. Once removed, the
        `access_token`  associated with the Item is no longer valid and cannot be
        used to access any data that was associated with the Item.
        Note that in the Development environment, issuing an `/item/remove`  request
        will not decrement your live credential count. To increase your credential
        account in Development, contact Support.
        Also note that for certain OAuth-based institutions, an Item removed via
        `/item/remove` may still show as an active connection in the institution's
        OAuth permission manager.

        Args:
            body (ItemRemoveRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/remove")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemRemoveResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def item_application_list(self,
                              body):
        """Perform a POST request to /item/application/list.

        List a user’s connected applications

        Args:
            body (ItemApplicationListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/application/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemApplicationListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def item_public_token_exchange(self,
                                   body):
        """Perform a POST request to /item/public_token/exchange.

        Exchange a Link `public_token` for an API `access_token`. Link hands off the
        `public_token` client-side via the `onSuccess` callback once a user has
        successfully created an Item. The `public_token` is ephemeral and expires
        after 30 minutes.
        The response also includes an `item_id` that should be stored with the
        `access_token`. The `item_id` is used to identify an Item in a webhook. The
        `item_id` can also be retrieved by making an `/item/get` request.

        Args:
            body (ItemPublicTokenExchangeRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/public_token/exchange")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemPublicTokenExchangeResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def item_get(self,
                 body):
        """Perform a POST request to /item/get.

        Returns information about the status of an Item.

        Args:
            body (ItemGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def item_create_public_token(self,
                                 body):
        """Perform a POST request to /item/public_token/create.

        Note: As of July 2020, the `/item/public_token/create` endpoint is
        deprecated. Instead, use `/link/token/create` with an `access_token` to
        create a Link token for use with [update
        mode](https://plaid.com/docs/link/update-mode).
        If you need your user to take action to restore or resolve an error
        associated with an Item, generate a public token with the
        `/item/public_token/create` endpoint and then initialize Link with that
        `public_token`.
        A `public_token` is one-time use and expires after 30 minutes. You use a
        `public_token` to initialize Link in [update
        mode](https://plaid.com/docs/link/update-mode) for a particular Item. You can
        generate a `public_token` for an Item even if you did not use Link to create
        the Item originally.
        The `/item/public_token/create` endpoint is **not** used to create your
        initial `public_token`. If you have not already received an `access_token`
        for a specific Item, use Link to obtain your `public_token` instead. See the
        [Quickstart](https://plaid.com/docs/quickstart) for more information.

        Args:
            body (ItemPublicTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/public_token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemPublicTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def item_application_scopes_update(self,
                                       body):
        """Perform a POST request to /item/application/scopes/update.

        Enable consumers to update product access on selected accounts for an
        application.

        Args:
            body (ItemApplicationScopesUpdateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/application/scopes/update")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemApplicationScopesUpdateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def item_webhook_update(self,
                            body):
        """Perform a POST request to /item/webhook/update.

        The POST `/item/webhook/update` allows you to update the webhook URL
        associated with an Item. This request triggers a
        [`WEBHOOK_UPDATE_ACKNOWLEDGED`](https://plaid.com/docs/api/webhooks/#item-webh
        ook-url-updated) webhook to the newly specified webhook URL.

        Args:
            body (ItemWebhookUpdateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/webhook/update")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemWebhookUpdateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def item_import(self,
                    body):
        """Perform a POST request to /item/import.

        `/item/import` creates an Item via your Plaid Exchange Integration and
        returns an `access_token`. As part of an `/item/import` request, you will
        include a User ID (`user_auth.user_id`) and Authentication Token
        (`user_auth.auth_token`) that enable data aggregation through your Plaid
        Exchange API endpoints. These authentication principals are to be chosen by
        you.
        Upon creating an Item via `/item/import`, Plaid will automatically begin an
        extraction of that Item through the Plaid Exchange infrastructure you have
        already integrated. This will automatically generate the Plaid native account
        ID for the account the user will switch their direct deposit to
        (`target_account_id`).

        Args:
            body (ItemImportRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/item/import")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ItemImportResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
