"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.liabilities_get_response import (
    LiabilitiesGetResponse,
)


class LiabilitiesApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize LiabilitiesApi object."""
        super(LiabilitiesApi, self).__init__(config)

    def liabilities_get(self,
                        body):
        """Perform a POST request to /liabilities/get.

        The `/liabilities/get` endpoint returns various details about an Item with
        loan or credit accounts. Liabilities data is available primarily for US
        financial institutions, with some limited coverage of Canadian institutions.
        Currently supported account types are account type `credit` with account
        subtype `credit card` or `paypal`, and account type `loan` with account
        subtype `student` or `mortgage`. To limit accounts listed in Link to types
        and subtypes supported by Liabilities, you can use the `account_filters`
        parameter when [creating a Link
        token](https://plaid.com/docs/api/tokens/#linktokencreate).
        The types of information returned by Liabilities can include balances and due
        dates, loan terms, and account details such as original loan amount and
        guarantor. Data is refreshed approximately once per day; the latest data can
        be retrieved by calling `/liabilities/get`.
        Note: This request may take some time to complete if `liabilities` was not
        specified as an initial product when creating the Item. This is because Plaid
        must communicate directly with the institution to retrieve the additional
        data.

        Args:
            body (LiabilitiesGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/liabilities/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LiabilitiesGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
