"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.link_token_create_response import (
    LinkTokenCreateResponse,
)
from plaid.models.link_token_get_response import (
    LinkTokenGetResponse,
)


class LinkApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize LinkApi object."""
        super(LinkApi, self).__init__(config)

    def link_token_get(self,
                       body):
        """Perform a POST request to /link/token/get.

        The `/link/token/get` endpoint gets information about a previously-created
        `link_token` using the
        `/link/token/create` endpoint. It can be useful for debugging purposes.

        Args:
            body (LinkTokenGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/link/token/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LinkTokenGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def link_token_create(self,
                          body):
        """Perform a POST request to /link/token/create.

        The `/link/token/create` endpoint creates a `link_token`, which is required
        as a parameter when initializing Link. Once Link has been initialized, it
        returns a `public_token`, which can then be exchanged for an `access_token`
        via `/item/public_token/exchange` as part of the main Link flow.
        A `link_token` generated by `/link/token/create` is also used to initialize
        other Link flows, such as the update mode flow for tokens with expired
        credentials, or the Payment Initiation (Europe) flow.

        Args:
            body (LinkTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/link/token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LinkTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
