"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.payment_initiation_payment_create_response import (
    PaymentInitiationPaymentCreateResponse,
)
from plaid.models.payment_initiation_payment_get_response import (
    PaymentInitiationPaymentGetResponse,
)
from plaid.models.payment_initiation_payment_list_response import (
    PaymentInitiationPaymentListResponse,
)
from plaid.models.payment_initiation_payment_reverse_response import (
    PaymentInitiationPaymentReverseResponse,
)
from plaid.models.payment_initiation_payment_token_create_response import (
    PaymentInitiationPaymentTokenCreateResponse,
)
from plaid.models.payment_initiation_recipient_create_response import (
    PaymentInitiationRecipientCreateResponse,
)
from plaid.models.payment_initiation_recipient_get_response import (
    PaymentInitiationRecipientGetResponse,
)
from plaid.models.payment_initiation_recipient_list_response import (
    PaymentInitiationRecipientListResponse,
)


class PaymentInitiationApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize PaymentInitiationApi object."""
        super(PaymentInitiationApi, self).__init__(config)

    def payment_initiation_payment_reverse(self,
                                           body):
        """Perform a POST request to /payment_initiation/payment/reverse.

        Reverse a previously initiated payment.
        A payment can only be reversed once and will be refunded to the original
        sender's account.

        Args:
            body (PaymentInitiationPaymentReverseRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/payment/reverse")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationPaymentReverseResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_recipient_create(self,
                                            body):
        """Perform a POST request to /payment_initiation/recipient/create.

        Create a payment recipient for payment initiation.  The recipient must be in
        Europe, within a country that is a member of the Single Euro Payment Area
        (SEPA).  For a standing order (recurring) payment, the recipient must be in
        the UK.
        The endpoint is idempotent: if a developer has already made a request with
        the same payment details, Plaid will return the same `recipient_id`.

        Args:
            body (PaymentInitiationRecipientCreateRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/recipient/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationRecipientCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_recipient_list(self,
                                          body):
        """Perform a POST request to /payment_initiation/recipient/list.

        The `/payment_initiation/recipient/list` endpoint list the payment recipients
        that you have previously created.

        Args:
            body (PaymentInitiationRecipientListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/recipient/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationRecipientListResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_recipient_get(self,
                                         body):
        """Perform a POST request to /payment_initiation/recipient/get.

        Get details about a payment recipient you have previously created.

        Args:
            body (PaymentInitiationRecipientGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/recipient/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationRecipientGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_payment_create(self,
                                          body):
        """Perform a POST request to /payment_initiation/payment/create.

        After creating a payment recipient, you can use the
        `/payment_initiation/payment/create` endpoint to create a payment to that
        recipient.  Payments can be one-time or standing order (recurring) and can be
        denominated in either EUR or GBP.  If making domestic GBP-denominated
        payments, your recipient must have been created with BACS numbers. In
        general, EUR-denominated payments will be sent via SEPA Credit Transfer and
        GBP-denominated payments will be sent via the Faster Payments network, but
        the payment network used will be determined by the institution. Payments sent
        via Faster Payments will typically arrive immediately, while payments sent
        via SEPA Credit Transfer will typically arrive in one business day.
        Standing orders (recurring payments) must be denominated in GBP and can only
        be sent to recipients in the UK. Once created, standing order payments cannot
        be modified or canceled via the API. An end user can cancel or modify a
        standing order directly on their banking application or website, or by
        contacting the bank. Standing orders will follow the payment rules of the
        underlying rails (Faster Payments in UK). Payments can be sent Monday to
        Friday, excluding bank holidays. If the pre-arranged date falls on a weekend
        or bank holiday, the payment is made on the next working day. It is not
        possible to guarantee the exact time the payment will reach the recipient’s
        account, although at least 90% of standing order payments are sent by 6am.
        In the Development environment, payments must be below 5 GBP / EUR. For
        details on any payment limits in Production, contact your Plaid Account
        Manager.

        Args:
            body (PaymentInitiationPaymentCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/payment/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationPaymentCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_payment_get(self,
                                       body):
        """Perform a POST request to /payment_initiation/payment/get.

        The `/payment_initiation/payment/get` endpoint can be used to check the
        status of a payment, as well as to receive basic information such as
        recipient and payment amount. In the case of standing orders, the
        `/payment_initiation/payment/get` endpoint will provide information about the
        status of the overall standing order itself; the API cannot be used to
        retrieve payment status for individual payments within a standing order.

        Args:
            body (PaymentInitiationPaymentGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/payment/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationPaymentGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_payment_token(self,
                             body):
        """Perform a POST request to /payment_initiation/payment/token/create.

        The `/payment_initiation/payment/token/create` endpoint has been deprecated.
        New Plaid customers will be unable to use this endpoint, and existing
        customers are encouraged to migrate to the newer, `link_token`-based flow.
        The recommended flow is to provide the `payment_id` to `/link/token/create`,
        which returns a `link_token` used to initialize Link.
        The `/payment_initiation/payment/token/create` is used to create a
        `payment_token`, which can then be used in Link initialization to enter a
        payment initiation flow. You can only use a `payment_token` once. If this
        attempt fails, the end user aborts the flow, or the token expires, you will
        need to create a new payment token. Creating a new payment token does not
        require end user input.

        Args:
            body (PaymentInitiationPaymentTokenCreateRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/payment/token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationPaymentTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def payment_initiation_payment_list(self,
                                        body):
        """Perform a POST request to /payment_initiation/payment/list.

        The `/payment_initiation/payment/list` endpoint can be used to retrieve all
        created payments. By default, the 10 most recent payments are returned. You
        can request more payments and paginate through the results using the optional
        `count` and `cursor` parameters.

        Args:
            body (PaymentInitiationPaymentListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payment_initiation/payment/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentInitiationPaymentListResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
