"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.processor_auth_get_response import (
    ProcessorAuthGetResponse,
)
from plaid.models.processor_balance_get_response import (
    ProcessorBalanceGetResponse,
)
from plaid.models.processor_bank_transfer_create_response import (
    ProcessorBankTransferCreateResponse,
)
from plaid.models.processor_identity_get_response import (
    ProcessorIdentityGetResponse,
)
from plaid.models.processor_stripe_bank_account_token_create_response import (
    ProcessorStripeBankAccountTokenCreateResponse,
)
from plaid.models.processor_token_create_response import (
    ProcessorTokenCreateResponse,
)


class ProcessorApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize ProcessorApi object."""
        super(ProcessorApi, self).__init__(config)

    def processor_bank_transfer_create(self,
                                       body):
        """Perform a POST request to /processor/bank_transfer/create.

        Use the `/processor/bank_transfer/create` endpoint to initiate a new bank
        transfer as a processor

        Args:
            body (ProcessorBankTransferCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/bank_transfer/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorBankTransferCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def processor_balance_get(self,
                              body):
        """Perform a POST request to /processor/balance/get.

        The `/processor/balance/get` endpoint returns the real-time balance for each
        of an Item's accounts. While other endpoints may return a balance object,
        only `/processor/balance/get` forces the available and current balance fields
        to be refreshed rather than cached.

        Args:
            body (ProcessorBalanceGetRequest): The `/processor/balance/get` endpoint
                returns the real-time balance for the account associated with a given
                `processor_token`.  The current balance is the total amount of funds
                in the account. The available balance is the current balance less any
                outstanding holds or debits that have not yet posted to the account.
                Note that not all institutions calculate the available balance. In
                the event that available balance is unavailable from the institution,
                Plaid will return an available balance value of `null`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/balance/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorBalanceGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def processor_auth_get(self,
                           body):
        """Perform a POST request to /processor/auth/get.

        The `/processor/auth/get` endpoint returns the bank account and bank
        identification number (such as the routing number, for US accounts), for a
        checking or savings account that's associated with a given `processor_token`.
        The endpoint also returns high-level account data and balances when available.

        Args:
            body (ProcessorAuthGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/auth/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorAuthGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def processor_identity_get(self,
                               body):
        """Perform a POST request to /processor/identity/get.

        The `/processor/identity/get` endpoint allows you to retrieve various account
        holder information on file with the financial institution, including names,
        emails, phone numbers, and addresses.

        Args:
            body (ProcessorIdentityGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/identity/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorIdentityGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def processor_apex_processor_token_create(self,
                                              body):
        """Perform a POST request to /processor/apex/processor_token/create.

        Used to create a token suitable for sending to Apex to enable Plaid-Apex
        integrations.

        Args:
            body (ProcessorApexProcessorTokenCreateRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/apex/processor_token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def processor_token_create(self,
                               body):
        """Perform a POST request to /processor/token/create.

        Used to create a token suitable for sending to one of Plaid's partners to
        enable integrations. Note that Stripe partnerships use bank account tokens
        instead; see `/processor/stripe/bank_account_token/create` for creating
        tokens for use with Stripe integrations.

        Args:
            body (ProcessorTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def processor_stripe_bank_account_token_create(self,
                                                   body):
        """Perform a POST request to
        /processor/stripe/bank_account_token/create.

        Used to create a token suitable for sending to Stripe to enable Plaid-Stripe
        integrations. For a detailed guide on integrating Stripe, see [Add Stripe to
        your app](https://plaid.com/docs/auth/partnerships/stripe/).

        Args:
            body (ProcessorStripeBankAccountTokenCreateRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/processor/stripe/bank_account_token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ProcessorStripeBankAccountTokenCreateResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
