"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.sandbox_bank_transfer_fire_webhook_response import (
    SandboxBankTransferFireWebhookResponse,
)
from plaid.models.sandbox_bank_transfer_simulate_response import (
    SandboxBankTransferSimulateResponse,
)
from plaid.models.sandbox_income_fire_webhook_response import (
    SandboxIncomeFireWebhookResponse,
)
from plaid.models.sandbox_item_fire_webhook_response import (
    SandboxItemFireWebhookResponse,
)
from plaid.models.sandbox_item_reset_login_response import (
    SandboxItemResetLoginResponse,
)
from plaid.models.sandbox_item_set_verification_status_response import (
    SandboxItemSetVerificationStatusResponse,
)
from plaid.models.sandbox_processor_token_create_response import (
    SandboxProcessorTokenCreateResponse,
)
from plaid.models.sandbox_public_token_create_response import (
    SandboxPublicTokenCreateResponse,
)
from plaid.models.sandbox_transfer_simulate_response import (
    SandboxTransferSimulateResponse,
)


class SandboxApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize SandboxApi object."""
        super(SandboxApi, self).__init__(config)

    def sandbox_item_set_verification_status(self,
                                             body):
        """Perform a POST request to /sandbox/item/set_verification_status.

        The `/sandbox/item/set_verification_status` endpoint can be used to change
        the verification status of an Item in in the Sandbox in order to simulate the
        Automated Micro-deposit flow.
        Note that not all Plaid developer accounts are enabled for micro-deposit
        based verification by default. Your account must be enabled for this feature
        in order to test it in Sandbox. To enable this features or check your status,
        contact your account manager or [submit a product access Support
        ticket](https://dashboard.plaid.com/support/new/product-and-development/produc
        t-troubleshooting/request-product-access).
        For more information on testing Automated Micro-deposits in Sandbox, see
        [Auth full coverage testing](https://plaid.com/docs/auth/coverage/testing#).

        Args:
            body (SandboxItemSetVerificationStatusRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/item/set_verification_status")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxItemSetVerificationStatusResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def sandbox_public_token_create(self,
                                    body):
        """Perform a POST request to /sandbox/public_token/create.

        Use the `/sandbox/public_token/create`  endpoint to create a valid
        `public_token`  for an arbitrary institution ID, initial products, and test
        credentials. The created `public_token` maps to a new Sandbox Item. You can
        then call `/item/public_token/exchange` to exchange the `public_token` for an
        `access_token` and perform all API actions. `/sandbox/public_token/create`
        can also be used with the [`user_custom` test
        username](https://plaid.com/docs/sandbox/user-custom) to generate a test
        account with custom data.

        Args:
            body (SandboxPublicTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/public_token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxPublicTokenCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def sandbox_processor_token_create(self,
                                       body):
        """Perform a POST request to /sandbox/processor_token/create.

        Use the `/sandbox/processor_token/create` endpoint to create a valid
        `processor_token` for an arbitrary institution ID and test credentials. The
        created `processor_token` corresponds to a new Sandbox Item. You can then use
        this `processor_token` with the `/processor/` API endpoints in Sandbox. You
        can also use `/sandbox/processor_token/create` with the [`user_custom` test
        username](https://plaid.com/docs/sandbox/user-custom) to generate a test
        account with custom data.

        Args:
            body (SandboxProcessorTokenCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/processor_token/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxProcessorTokenCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def sandbox_item_fire_webhook(self,
                                  body):
        """Perform a POST request to /sandbox/item/fire_webhook.

        The `/sandbox/item/fire_webhook` endpoint is used to test that code correctly
        handles webhooks. Calling this endpoint triggers a Transactions
        `DEFAULT_UPDATE` webhook to be fired for a given Sandbox Item. If the Item
        does not support Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will
        result.

        Args:
            body (SandboxItemFireWebhookRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/item/fire_webhook")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxItemFireWebhookResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def sandbox_item_reset_login(self,
                                 body):
        """Perform a POST request to /sandbox/item/reset_login.

        `/sandbox/item/reset_login/` forces an Item into an `ITEM_LOGIN_REQUIRED`
        state in order to simulate an Item whose login is no longer valid. This makes
        it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode)
        flow in the Sandbox environment.  After calling `/sandbox/item/reset_login`,
        You can then use Plaid Link update mode to restore the Item to a good state.
        An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this
        endpoint, if one is associated with the Item.
        In the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state
        automatically after 30 days, even if this endpoint is not called.

        Args:
            body (SandboxItemResetLoginRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/item/reset_login")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxItemResetLoginResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def sandbox_income_fire_webhook(self,
                                    body):
        """Perform a POST request to /sandbox/income/fire_webhook.

        Use the `/sandbox/income/fire_webhook` endpoint to manually trigger an Income
        webhook in the Sandbox environment.

        Args:
            body (SandboxIncomeFireWebhookRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/income/fire_webhook")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxIncomeFireWebhookResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def sandbox_oauth_select_accounts(self,
                                      body):
        """Perform a POST request to /sandbox/oauth/select_accounts.

        Save the selected accounts when connecting to the Platypus Oauth institution

        Args:
            body (SandboxOauthSelectAccountsRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/oauth/select_accounts")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def sandbox_transfer_simulate(self,
                                  body):
        """Perform a POST request to /sandbox/transfer/simulate.

        Use the `/sandbox/transfer/simulate` endpoint to simulate a transfer event in
        the Sandbox environment.  Note that while an event will be simulated and will
        appear when using endpoints such as `/transfer/event/sync` or
        `/transfer/event/list`, no transactions will actually take place and funds
        will not move between accounts, even within the Sandbox.

        Args:
            body (SandboxTransferSimulateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/transfer/simulate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxTransferSimulateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def sandbox_bank_transfer_fire_webhook(self,
                                           body):
        """Perform a POST request to /sandbox/bank_transfer/fire_webhook.

        Use the `/sandbox/bank_transfer/fire_webhook` endpoint to manually trigger a
        Bank Transfers webhook in the Sandbox environment.

        Args:
            body (SandboxBankTransferFireWebhookRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/bank_transfer/fire_webhook")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxBankTransferFireWebhookResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def sandbox_bank_transfer_simulate(self,
                                       body):
        """Perform a POST request to /sandbox/bank_transfer/simulate.

        Use the `/sandbox/bank_transfer/simulate` endpoint to simulate a bank
        transfer event in the Sandbox environment.  Note that while an event will be
        simulated and will appear when using endpoints such as
        `/bank_transfer/event/sync` or `/bank_transfer/event/list`, no transactions
        will actually take place and funds will not move between accounts, even
        within the Sandbox.

        Args:
            body (SandboxBankTransferSimulateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sandbox/bank_transfer/simulate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SandboxBankTransferSimulateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()
