"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.signal_decision_report_response import (
    SignalDecisionReportResponse,
)
from plaid.models.signal_evaluate_response import (
    SignalEvaluateResponse,
)
from plaid.models.signal_return_report_response import (
    SignalReturnReportResponse,
)


class SignalApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize SignalApi object."""
        super(SignalApi, self).__init__(config)

    def signal_evaluate(self,
                        body):
        """Perform a POST request to /signal/evaluate.

        Use `/signal/evaluate` to evaluate a planned ACH transaction to get a return
        risk assessment (such as a risk score and risk tier) and additional risk
        signals.
        In order to obtain a valid score for an ACH transaction, Plaid must have an
        access token for the account, and the Item must be healthy (receiving product
        updates) or have recently been in a healthy state. If the transaction does
        not meet eligibility requirements, an error will be returned corresponding to
        the underlying cause.

        Args:
            body (SignalEvaluateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/signal/evaluate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SignalEvaluateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def signal_decision_report(self,
                               body):
        """Perform a POST request to /signal/decision/report.

        After calling `/signal/evaluate`, call `/signal/decision/report` to report
        whether the transaction was initiated. This endpoint will return an
        `INVALID_REQUEST` error if called a second time with a different value for
        `initiated`.

        Args:
            body (SignalDecisionReportRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/signal/decision/report")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SignalDecisionReportResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()

    def signal_return_report(self,
                             body):
        """Perform a POST request to /signal/return/report.

        Call the `/signal/return/report` endpoint to report a returned transaction
        that was previously sent to the `/signal/evaluate` endpoint. Your feedback
        will be used by the model to incorporate the latest risk trend in your
        portfolio.

        Args:
            body (SignalReturnReportRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/signal/return/report")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SignalReturnReportResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response.", ErrorErrorException),
        ).execute()
