"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.transfer_authorization_create_response import (
    TransferAuthorizationCreateResponse,
)
from plaid.models.transfer_cancel_response import (
    TransferCancelResponse,
)
from plaid.models.transfer_create_response import (
    TransferCreateResponse,
)
from plaid.models.transfer_event_list_response import (
    TransferEventListResponse,
)
from plaid.models.transfer_event_sync_response import (
    TransferEventSyncResponse,
)
from plaid.models.transfer_get_response import (
    TransferGetResponse,
)
from plaid.models.transfer_list_response import (
    TransferListResponse,
)


class TransferApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize TransferApi object."""
        super(TransferApi, self).__init__(config)

    def transfer_event_sync(self,
                            body):
        """Perform a POST request to /transfer/event/sync.

        `/transfer/event/sync` allows you to request up to the next 25 transfer
        events that happened after a specific `event_id`. Use the
        `/transfer/event/sync` endpoint to guarantee you have seen all transfer
        events.

        Args:
            body (TransferEventSyncRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/event/sync")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferEventSyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_list(self,
                      body):
        """Perform a POST request to /transfer/list.

        Use the `/transfer/list` endpoint to see a list of all your transfers and
        their statuses. Results are paginated; use the `count` and `offset` query
        parameters to retrieve the desired transfers.

        Args:
            body (TransferListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_get(self,
                     body):
        """Perform a POST request to /transfer/get.

        The `/transfer/get` fetches information about the transfer corresponding to
        the given `transfer_id`.

        Args:
            body (TransferGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_cancel(self,
                        body):
        """Perform a POST request to /transfer/cancel.

        Use the `/transfer/cancel` endpoint to cancel a transfer.  A transfer is
        eligible for cancelation if the `cancellable` property returned by
        `/transfer/get` is `true`.

        Args:
            body (TransferCancelRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/cancel")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferCancelResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_create(self,
                        body):
        """Perform a POST request to /transfer/create.

        Use the `/transfer/create` endpoint to initiate a new transfer.

        Args:
            body (TransferCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_authorization_create(self,
                                      body):
        """Perform a POST request to /transfer/authorization/create.

        Use the `/transfer/authorization/create` endpoint to determine transfer
        failure risk.
        In Plaid's sandbox environment the decisions will be returned as follows:
          - To approve a transfer, make an authorization request with an `amount`
        less than the available balance in the account.
          - To decline a transfer with the rationale code `NSF`, the available
        balance on the account must be less than the authorization `amount`. See
        [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for
        details on how to customize data in Sandbox.
          - To decline a transfer with the rationale code `RISK`, the available
        balance on the account must be exactly $0. See [Create Sandbox test
        data](https://plaid.com/docs/sandbox/user-custom/) for details on how to
        customize data in Sandbox.
          - To permit a transfer with the rationale code `MANUALLY_VERIFIED_ITEM`,
        create an Item in Link through the [Same Day Micro-deposits
        flow](https://plaid.com/docs/auth/coverage/testing/#testing-same-day-micro-dep
        osits).
          - To permit a transfer with the rationale code `LOGIN_REQUIRED`, [reset the
        login for an Item](https://plaid.com/docs/sandbox/#item_login_required).
        All username/password combinations other than the ones listed above will
        result in a decision of permitted and rationale code `ERROR`.

        Args:
            body (TransferAuthorizationCreateRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/authorization/create")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferAuthorizationCreateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transfer_event_list(self,
                            body):
        """Perform a POST request to /transfer/event/list.

        Use the `/transfer/event/list` endpoint to get a list of transfer events
        based on specified filter criteria.

        Args:
            body (TransferEventListRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfer/event/list")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransferEventListResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()
