"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.exceptions.error_error_exception import (
    ErrorErrorException,
)
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.transactions_get_response import (
    TransactionsGetResponse,
)
from plaid.models.transactions_refresh_response import (
    TransactionsRefreshResponse,
)


class TransactionsApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize TransactionsApi object."""
        super(TransactionsApi, self).__init__(config)

    def transactions_refresh(self,
                             body):
        """Perform a POST request to /transactions/refresh.

        `/transactions/refresh` is an optional endpoint for users of the Transactions
        product. It initiates an on-demand extraction to fetch the newest
        transactions for an Item. This on-demand extraction takes place in addition
        to the periodic extractions that automatically occur multiple times a day for
        any Transactions-enabled Item. If changes to transactions are discovered
        after calling `/transactions/refresh`, Plaid will fire a webhook:
        [`TRANSACTIONS_REMOVED`](https://plaid.com/docs/api/webhooks#deleted-transacti
        ons-detected) will be fired if any removed transactions are detected, and
        [`DEFAULT_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-default_up
        date) will be fired if any new transactions are detected. New transactions
        can be fetched by calling `/transactions/get`.
        Access to `/transactions/refresh` in Production is specific to certain
        pricing plans. If you cannot access `/transactions/refresh` in Production,
        [contact Sales](https://www.plaid.com/contact) for assistance.

        Args:
            body (TransactionsRefreshRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transactions/refresh")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransactionsRefreshResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()

    def transactions_get(self,
                         body):
        """Perform a POST request to /transactions/get.

        The `/transactions/get` endpoint allows developers to receive user-authorized
        transaction data for credit, depository, and some loan-type accounts (only
        those with account subtype `student`; coverage may be limited). For
        transaction history from investments accounts, use the [Investments
        endpoint](https://plaid.com/docs/api/products#investments) instead.
        Transaction data is standardized across financial institutions, and in many
        cases transactions are linked to a clean name, entity type, location, and
        category. Similarly, account data is standardized and returned with a clean
        name, number, balance, and other meta information where available.
        Transactions are returned in reverse-chronological order, and the sequence of
        transaction ordering is stable and will not shift.  Transactions are not
        immutable and can also be removed altogether by the institution; a removed
        transaction will no longer appear in `/transactions/get`.  For more details,
        see [Pending and posted
        transactions](https://plaid.com/docs/transactions/transactions-data/#pending-a
        nd-posted-transactions).
        Due to the potentially large number of transactions associated with an Item,
        results are paginated. Manipulate the `count` and `offset` parameters in
        conjunction with the `total_transactions` response body field to fetch all
        available transactions.
        Data returned by `/transactions/get` will be the data available for the Item
        as of the most recent successful check for new transactions. Plaid typically
        checks for new data multiple times a day, but these checks may occur less
        frequently, such as once a day, depending on the institution. An Item's
        `status.transactions.last_successful_update` field will show the timestamp of
        the most recent successful update. To force Plaid to check for new
        transactions, you can use the `/transactions/refresh` endpoint.
        Note that data may not be immediately available to `/transactions/get`. Plaid
        will begin to prepare transactions data upon Item link, if Link was
        initialized with `transactions`, or upon the first call to
        `/transactions/get`, if it wasn't. To be alerted when transaction data is
        ready to be fetched, listen for the
        [`INITIAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-initial_up
        date) and
        [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-histori
        cal_update) webhooks. If no transaction history is ready when
        `/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.

        Args:
            body (TransactionsGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transactions/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransactionsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Error response", ErrorErrorException),
        ).execute()
