"""plaid.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from plaid.api_helper import APIHelper
from plaid.apis.base_api import BaseApi
from plaid.configuration import Server
from plaid.http.http_method_enum import HttpMethodEnum
from plaid.models.webhook_verification_key_get_response import (
    WebhookVerificationKeyGetResponse,
)


class WebhookVerificationKeyApi(BaseApi):
    """A Controller to access Endpoints in the plaid API."""

    def __init__(self, config):
        """Initialize WebhookVerificationKeyApi object."""
        super(WebhookVerificationKeyApi, self).__init__(config)

    def webhook_verification_key_get(self,
                                     body):
        """Perform a POST request to /webhook_verification_key/get.

        Plaid signs all outgoing webhooks and provides JSON Web Tokens (JWTs) so that
        you can verify the authenticity of any incoming webhooks to your application.
        A message signature is included in the `Plaid-Verification` header.
        The `/webhook_verification_key/get` endpoint provides a JSON Web Key (JWK)
        that can be used to verify a JWT.

        Args:
            body (WebhookVerificationKeyGetRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/webhook_verification_key/get")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("PLAID-CLIENT-ID"),
                Single("PLAID-SECRET"), Single("Plaid-Version"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WebhookVerificationKeyGetResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
